@import '../../styles/base';

.widget-user__avatar {
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.widget-user__user {
  margin-right: 20px;
}

.widget-user__popover {
  margin-right: 40px;
}

.widget-user__link {
  margin-right: 20px;
  font-size: 0.9 * $font-size;
}

.widget-user__user__menu a {
  color: $text-color;
}

.widget-user__user__username {
  cursor: pointer;
}
