@import '../../styles/base';

.header {
  background-color: $primary-color !important;
  height: 6 * $pt-grid-size;
}

.header, .header a {
  color: white;
}

.header a:hover {
  text-decoration: none;
}

.header__wrapper {
  margin: 0 auto;
  padding-top: 0.5 * $pt-grid-size;
  max-width: $page-width;
}

.header__logo {
  width: 4 * $pt-grid-size;
}

.header__title {
  margin-left: 2 * $pt-grid-size;
  margin-right: 0;
  font-size: 1.5 * $pt-font-size;
  transform: scale(1, 1.2);
}

.header__subtitle {
  font-size: 0.9 * $pt-font-size;
}
