@import '../../styles/base';

.footer {
  width: 1160px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #666666;
  font-size: $font-size-small;
}

.footer__left {
  float: left;
}

.footer__right {
  float: right;
}
